* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav {}